body {
    margin: 0;
    padding: 0;
    font-family: "Indie Flower", cursive;
    /* font-family: -apple-system, BlinkMacSystemFont, "Indie Flower", "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", cursive sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url('./Assets/Images/old_mathematics.png');
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

ol, ul {
    padding-left: 30px;
}

.noBrdTop button {
    border-top: 0;
}

.noBrdBtm button {
    border-bottom: 0;
}

.play-again-button {
    position: absolute;
    bottom: -100px;
}